/* Remove gap between jumbotron and navbar*/
.navbar {
    margin-bottom: 0;
}

/* Can uncomment and reduce margin after jumbotron if needed */
/*.jumbotron {
    margin-bottom: 0;
}*/

/* Fix the footer when in view */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Match the footer height or a hair extra height */
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
dt, dt + dd {
    margin-top: 5px;
}